body{
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  
}

.category-button {
  color: black;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  padding: 1px;
  border-radius: 0;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

.category-button:hover,
.category-button.active {
  color: rgb(0, 0, 0);
  background-color:rgb(238, 238, 238);
  padding: 15% 20% 8% 20%;

}

.category-button {
  background-color: black;
  border: none; 
  padding: 0; 
  cursor: pointer; 
  color: white; 
  font-size: 1.5rem;
  font-weight: bold;

}

.going-button,
.interested-button {
  background: #118ba7;
  color: white;
  text-decoration: none;
  padding: 3% 14%;
  border: none;
  margin-right: 10px; 
  transition: background 0.3s, border-color 0.3s; 
}

.arrowLeft{
  color: white;
  height: 20px;

}

.BackFirtsPage{
  display: flex;
}

.going-button:hover,
.interested-button:hover {
  background: white; 
  color: #118ba7;
  border: 2px solid #118ba7;
}

.changed-mind-button {
  color: #28b8e3;
  text-decoration: none;
  border: none;
  background: none;

}


h3 {
  color: rgba(0, 0, 0, 0.795);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.color-footerTarget{
  color: grey;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.color-date{
  color: orangered;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.feather-heart {
  color: red;
  height: 25%;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.event-item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

img{
  width: 100%;
}

.tab-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
  list-style: none;
  background-color: black;
  padding: 7% 2% 0% 2%;
  font-size: 2rem;

}

.tab-nav a {
  color: white;
  text-decoration: none;
}

.my-account-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 50px;
  right: 40px;
  color: white;
  text-decoration: none;
}

.my-account-text {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  fill: white;
}

.back-to-events-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 50px;
  left: 40px;
  color: white;
  text-decoration: none;
}

a.back-to-events-link {
  margin-top: 2%;
}

.back-to-events-link span {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.arrowLeft {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: white;
}

.hidden {
  display: none;
}

#calendar-container {
  width: 100%;
  font-family: Arial, sans-serif;
}

#calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#calendar-table {
  width: 100%;
  border-collapse: collapse;
}

#calendar-table th,
#calendar-table td {
  padding: 5px;
  text-align: center;
}

#calendar-table th {
  font-weight: bold;
}

#calendar-table td {
  border: 1px solid black;
  color: black;
}

tr {
  height: 100px;
}

/* Media query para pantallas móviles */
@media (max-width: 320px) {
  #calendar-container {
    max-width: 100%;
    font-size: 8px;
  }

  #calendar-table {
    width: max-content;
    white-space: nowrap;
  }

  #calendar-table th,
  #calendar-table td {
    padding: 2px;
    min-width: 37px;
  }

  tr {
    height: auto;
  }
}



@media screen and (max-width: 768px) {
  .event-grid {
    grid-template-columns: 1fr;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .category-button {
    font-size: 0.8rem;
  }

  .tab-nav {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 768px) {
  .event-grid {
    grid-template-columns: 1fr;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .category-button {
    font-size: 0.8rem;
  }

  .tab-nav {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 768px) {
  .event-grid {
      grid-template-columns: 1fr;
  }
  
  img {
      height: auto;
      max-width: 100%;
  }
  
  .category-button {
    font-size: 0.8rem;
  }
  
  .tab-nav {
      font-size: 1.5rem;
  }
  }
  
  @media only screen and (max-width: 767px) {
    .my-account-link {
      top: 30px;
      right: 20px;
    }
  
    .back-to-events-link {
      top: 30px;
      left: 20px;
    }
  
    .my-account-text,
    .back-to-events-link span {
      font-size: 70%;
    }
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .my-account-link {
      top: 30px;
      right: 30px;
    }
  
    .back-to-events-link {
      top: 30px;
      left: 30px;
    }
  
    .my-account-text,
    .back-to-events-link span {
      font-size: 125%;
    }
  }
  
  
  @media only screen and (min-width: 1024px) {
    .my-account-link {
      top: 50px;
      right: 40px;
    }
  
    .back-to-events-link {
      top: 30px;
      left: 30px;
    }
  
    .my-account-text,
    .back-to-events-link span {
      font-size: 150%;
    }
  }

@media only screen and (max-width: 767px) {
  .my-account-link .arrow-icon {
    width: 16px;
    height: 16px;
  }

  .back-to-events-link .arrowLeft {
    width: 16px;
    height: 16px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .my-account-link .arrow-icon {
    width: 24px;
    height: 24px;
  }

  .back-to-events-link .arrowLeft {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .my-account-link .arrow-icon {
    width: 32px;
    height: 32px;
  }

  .back-to-events-link .arrowLeft {
    width: 32px;
    height: 32px;
  }
}