body{
  box-sizing: border-box;
  
}

.category-button {
  color: black;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  padding: 1px;
  border-radius: 0;
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
}

.category-button:hover,
.category-button.active {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 15% 20% 8% 20%;

}

.category-button {
  background-color: black;
  border: none; 
  padding: 0; 
  cursor: pointer; 
  color: white; 
  font-size: 1.5rem;
  font-weight: bold;

}

.going-button,
.interested-button {
  background: #118ba7;
  color: white;
  text-decoration: none;
  padding: 3% 14%;
  border: none;
  margin-right: 10px; 
  transition: background 0.3s, border-color 0.3s; 
}

.arrowLeft{
  color: white;
  height: 20px;

}

.BackFirtsPage{
  display: flex;
}

.going-button:hover,
.interested-button:hover {
  background: white; 
  color: #118ba7;
  border: 2px solid #118ba7;
}

h3 {
  color: rgba(0, 0, 0, 0.795);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.color-footerTarget{
  color: grey;
  font-weight: 100;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.color-date{
  color: orangered;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.feather-heart {
  color: red;
  height: 25%;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.event-item {
  border: 1px solid #ccc;
  padding: 10px;
}

img{
  height: 27.5%;
}

.tab-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
  list-style: none;
  background-color: black;
  padding: 3% 3% 0% 3%;
  font-size: 2rem;

}

.tab-nav a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
.event-grid {
    grid-template-columns: 1fr;
}

img {
    height: auto;
    max-width: 100%;
}

.category-button {
    font-size: 1rem;
}

.tab-nav {
    font-size: 1.5rem;
}
}
